@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200&display=swap");

$Poppins: "Poppins", sans-serif;

// colors
$dark: #000000;
$light: #f7f7f7;
$primary: #00ff19;
$secondary: #00e6ff;

// spacing
$spacing-md: 16px;
$spacing-lg: 32px;

// border radius
$borderRadius: 12px;

// header height
$headerHeight: 100px;

@mixin breakpoint($point) {
  @if $point == md {
    // 768px
    @media (min-width: 56em) {
      @content;
    }
  }
}
